
.services__wrapper{
    padding-bottom: 4rem;
    background-color: var( --color-bg-variant); 
}
.services__container .serviceItems{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}
.services__container .service {
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  width: 250px;
}

.service-icon {
  color: var(--color-primary);
  transition: var(--transition);
}



/* media */
@media screen and (max-width: 1150px){
    .services__container .serviceItems{
        column-gap:7rem;
      }
}
@media screen and (max-width: 1050px) {
    .services__container .serviceItems{
        column-gap:4rem;
      }
      .services__container .service {
        margin-bottom: 2rem;
      }
}
@media screen and (max-width: 950px){
    .services__container .serviceItems{
        column-gap:0;
      }
}
@media screen and (max-width: 800px) {
    .services__container .serviceItems{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
      }
      .services__container .service {
        margin-bottom: 1rem;
      }
}
@media screen and (max-width: 600px) {
    .services__container .serviceItems{
        grid-template-columns:  1fr;
      }
      .services__container .service {
        margin-bottom: 1rem;
      }
}

