/* .container.carousel{
    background-color: var(--bg-btn-opacity);
    border-radius: .4rem;
} */
.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 1rem ;
}
 .header_description_close{
    display: flex;
    align-items: center;
    gap: .7rem;
    border-bottom: 1px solid var(--bg-btn);
    padding: 1rem;
}
.header_description_close .Bubble{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(59, 3, 112);
}
 .header_description_close .Bubble:nth-child(2){
    background-color:rgb(154, 99, 243);
}
 .header_description_close .Bubble:nth-child(3){
    background-color:rgb(211, 157, 244);
}
.portfolio__item{
    border-radius: .4rem;
    transition: var(--transition);
    background-color: var(--bg-btn-opacity);
    width: 100%;
    height: 230px;
    margin:  0 auto;
    position: relative;
    overflow: hidden;
}

.portfolio__item_image{
    border-radius: .4rem;
    overflow: hidden;
    height: 60%;
    margin: 1rem;
}
.portfolio__item_image img{
    height: 100%;
    width: 100%;
    margin:  auto;
    opacity: 1;
    object-fit: contain;
}
.portfolio__item .layout__portfolio{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-btn-opacity);
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: var(--transition);
}
.portfolio__item:hover .layout__portfolio{
    opacity: 1;
    transition: var(--transition);
}
.portfolio__item:hover .portfolio__item_image img{
    opacity: .2;
    transition: var(--transition);
}
.portfolio__item h3{
    margin-bottom:1rem;
}
.BtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* media queries*/
@media screen and (min-width: 1300px){
    .portfolio__container{
        row-gap: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .portfolio__container{
        grid-template-columns: 1fr ;
    }
}
@media screen and (max-width: 400px){
    .portfolio__item{
        height: 300px;
    }
}
@media screen and (max-width: 300px){
    .portfolio__item{
        height: 250px;
    }
}