
.experience__content .experience__details {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* border: 1px solid var(--bg-btn); */
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
  margin-left: 10px;
}
.experience__content .experience__details:hover{
    background-color: var(--bg-btn-opacity);
    scale: .9;
}
.experience__slider{
    position: relative;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    gap: 1rem;
}
.experience__details-img-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.experience__details-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* media */
@media screen and (max-width: 1150px){
    .experience__content {
        column-gap: 10rem;
      }
}
@media screen and (max-width: 1024px) {
  .experience__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
  
}
@media screen and (max-width: 600px) {
  .experience__content {
    row-gap: 1rem;
    column-gap: 3rem;
  }
}
@media screen and (max-width: 400px){
    .experience__content {
        grid-template-columns:1fr;
        row-gap: 1rem;
      }
}



