
.experience__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 14rem;
}
.experience__content .experience__details {
  display: flex;
  gap: 1rem;
  width:150px ;
  
}
.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary); 
}
/* media */
@media screen and (max-width: 1150px){
    .experience__content {
        column-gap: 10rem;
      }
}
@media screen and (max-width: 1024px) {
  .experience__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
  
}
@media screen and (max-width: 600px) {
  .experience__content {
    row-gap: 1rem;
    column-gap: 3rem;
  }
}
@media screen and (max-width: 400px){
    .experience__content {
        grid-template-columns:1fr;
        row-gap: 1rem;
      }
}



