.experience__container {
  /* background-color: var(--color-bg-variant); */
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  border-color: var(--color-bg-variant);
}
/* .experience__container:hover {
  background-color: transparent;
  border-color: var(--color-bg-variant);
} */
.experience__container h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}
.experience__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;  
}
.experience__content .experience__details {
  display: flex;
  gap: 1rem;
  margin-left: 20%;
}
.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
  
}
/* media */
@media screen and (max-width: 1024px) {
  .experience__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
  .experience__container {
    padding: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .experience__content {
    grid-template-columns:repeat(2, 1fr);
    row-gap: 1rem;
  }
  .experience__container {
    padding: 2rem;
  }
  .experience__content .experience__details {
    margin-left: 0;
  }
}



