
.about__container .education__list li,
.about__container .experience__list li{
    list-style-type:circle;
}

.about__container p{
    margin: 2rem 0 ;
    color: var(--text2);
}
.about__container span{
    background: #7e84f03b;
    color: var( --color);
    padding: .5rem;
    border-radius:0.4rem;
    display: inline-block;
    margin-bottom: 1rem ;
    margin-top: 1rem ;
    font-weight: bold;
}
.about__container .education__list,
.about__container .experience__list{
    padding:0 1rem;
    color: var(--text2);
}
.about__experience{
    margin-top: 1rem;
}
/* media */
@media screen and (max-width: 600px){
    .about__container p{
        margin: 1.5rem 0 ;
    }
}
@media screen and (max-width: 390px){
    .about__cards{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .about__container p{
        margin: 1rem 0 ;
    }
}